body {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0;
}

h1, h2, p, ul, li {
    font-family: arial;
}

ul.header li {
    padding-left: 20px;
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header a:hover {
    background-color: rgb(75, 90, 135);
}

ul.header {
    border-radius: 15px;
    background-color: rgb(30, 50, 95);
    padding: 0;
}

ul.header li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

.feed{
    border-radius: 15px;
    background-color: rgb(30,50,95);
    padding: 20px;
}
.content {
    border-radius: 15px;
    background-color: rgb(30, 50, 95);
    padding: 20px;
    color: rgb(160, 175, 215);
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content a {
    color: #fff;
}

.active {
    background-color: rgb(75, 90, 135);
}

#green {
    width: 500px;
    height: 400px;
    float: left;
    margin: 0px;
}

#red {
    width: 210px;
    height: 400px;
    margin-left: 10px;
    float: left;
}

#blue {
    width: 800px;
    margin: 0px;
    clear: both;
}

#feedControl {
    margin-top : 10px;
    margin-left: auto;
    margin-right: auto;
    width : 440px;
    font-size: 12px;
    color: #9CADD0;
    }